%ul.brunch
  %li.brunch__title
    = link_to "トップス", "#", id: "1"
  %li.brunch__title
    = link_to "ジャケット/アウター", "#", id: "2"
  %li.brunch__title
    = link_to "パンツ", "#", id: "3"
  %li.brunch__title
    = link_to "スカート", "#", id: "4"
  %li.brunch__title
    = link_to "ワンピース", "#", id: "5"
  %li.brunch__title
    = link_to "靴", "#", id: "6"
  %li.brunch__title
    = link_to "ルームウェア/パジャマ", "#", id: "7"
  %li.brunch__title
    = link_to "レッグウェア", "#", id: "8"
  %li.brunch__title
    = link_to "帽子", "#", id: "9"
  %li.brunch__title
    = link_to "バッグ", "#", id: "10"
  %li.brunch__title
    = link_to "アクセサリー", "#", id: "11"
  %li.brunch__title
    = link_to "ヘアアクセサリー", "#", id: "12"
  %li.brunch__title
    = link_to "小物", "#", id: "13"
  %li.brunch__title
    = link_to "時計", "#", id: "13"
  %li.brunch__title
    = link_to "ウィッグ/エクステ", "#", id: "13"
  %li.brunch__title
    = link_to "浴衣/水着", "#", id: "13"
  %li.brunch__title
    = link_to "スーツ/フォーマル/ドレス", "#", id: "13"
  %li.brunch__title
    = link_to "マタニティ", "#", id: "13"
  %li.brunch__title
    = link_to "その他", "#", id: "13"
